<!--
@{
    ViewBag.Title = "Portal";
}

<h2>User Portal</h2>

@Html.ActionLink("My Work Orders", "MyOrders")-->



@{
    ViewBag.Title = "Index";
}

@if (ViewBag.Message != null)
{
    <div class="alert alert-danger mt-3" role="alert">@ViewBag.Message</div>
}

<div class="row">
    <div class="cont">
        <a href="@Url.Action("Index","Customers")">
            <img src="~/Pictures/user.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Add/View Customers</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="@Url.Action("Quote","Seattle")">
            <img src="~/Pictures/Calculator.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Quote Information</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="@Url.Action("RequestForm","Seattle")">
            <img src="~/Pictures/Add.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Submit Work Order Request</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="cont">
        <a href="@Url.Action("WorkOrder","Seattle")">
            <img src="~/Pictures/Search.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Search for Work Orders</div>
            </div>
        </a>
    </div>

    <div class="cont">
        <a href="@Url.Action("Reports","Seattle")">
            <img src="~/Pictures/reports.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Generate Reports</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="@Url.Action("Catalogs","Seattle")">
            <img src="~/Pictures/edit.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Edit Catalogs</div>
            </div>
        </a>
    </div>
</div>