@using WebApplication1.Models;
@model WebApplication1.Models.Work_Order
@{
    ViewBag.Title = "Work Order Request";
    List<Compound> liCompounds = ViewBag.Compounds;
}

<h2>New Work Order Request</h2>
<p>(Note: A work order my contain up to 5 compounds. If you have additional compounds, you may submit another work order request.)</p>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div id="add-compound">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="compound_0" class="control-label">Compound</label>
                <div>
                    <select name="assay_compound[0]['compound']" id="compound_0">
                        <option></option>
                        @foreach (Compound compound in liCompounds)
                        {
                            <option value="@compound.LTNumber">@compound.CompoundName</option>
                        }
                    </select>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Assay Selection</label>
                <div>
                    @foreach (Assay assay in ViewBag.Assays)
                    {
                        <label>@assay.AssayName</label>
                        <input type="checkbox" name="assay_compound[0]['assay'][@assay.AssayID]" class="form-check" />
                    }
                </div>
            </div>

            <div class="form-group">
                <label for="testall_0" class="control-label">Proceed with all tests?</label>
                <div>
                    <input type="checkbox" name="assay_compound[0]['testall']" id="testall_0" />
                </div>
            </div>

            <div class="form-group">
                <label for="quantity_0" class="control-label">Quantity (mg)</label>
                <div>
                    <input type="number" step="any" name="assay_compound[0]['quantity']" id="quantity_0" />
                </div>
            </div>

            <div class="form-group">
                <label for="weight_0" class="control-label">Weight</label>
                <div>
                    <input type="number" step="any" name="assay_compound[0]['client_weight']" id="weight_0" />
                </div>
            </div>
        </div>
    </div>
</div>

<div class="my-5">
    <p class="text-danger hidden" id="five-compounds">A single work order can process up to five compounds.</p>
    <button class="btn btn-dark" id="add-button" type="button"><span class="text-success">+ Add compound</span></button>
</div>
    

    <div class="form-group">
        @Html.LabelFor(model => model.Comments, "Comments for work order", htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.TextAreaFor(model => model.Comments, new { @class = "form-control", @cols = "50" })
            @Html.ValidationMessageFor(model => model.Comments, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CustomerID, "Customer", htmlAttributes: new { @class = "control-label" })
        <div>
            @Html.DropDownList("CustomerID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CustomerID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-success" />
    </div>

<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    var counter = 1;

     $("#add-button").click(function(){
         if (counter < 5) {
             $("#add-compound .row").append("<div class=\"col-sm-4\">" +
                 "<div class=\"form-group\">" +
                 "<label for=\"compound_" + counter + "\" class=\"control-label\">Compound</label>" +
                 "<div>" +
                 "<select name=\"assay_compound[" + counter + "]['compound']\" id=\"compound_" + counter + "\">" +
                 "<option></option>" +
                    @foreach (Compound compound in ViewBag.Compounds)
                    {
                        @: "<option value=\"@compound.LTNumber\">@compound.CompoundName</option>" +
                    }
                 "</select>" +
                 "</div>" +
                 "</div>" +
                 "<div class=\"form-group\">" +
                 "<label class=\"control-label\">Assay Selection</label>" +
                 "<div>" +
                 @foreach(Assay assay in ViewBag.Assays)
                 {
                    @: "<label>@assay.AssayName</label>" +
                    @: "<input type=\"checkbox\" name=\"assay_compound[" + counter + "]['assay'][@assay.AssayID]\" class=\"form-check\" />" +
                 }
                 "</div>" +
                 "</div>" +
                 "<div class=\"form-group\">" +
                 "<label for=\"testall_" + counter + "\" class=\"control-label\">Proceed with all tests?</label>" +
                 "<div>" +
                 "<input type=\"checkbox\" name=\"assay_compound[" + counter + "]['testall']\" id=\"testall_0\" />" +
                 "</div>" +
                 "</div>" +
                 "<div class=\"form-group\">" +
                 "<label for=\"quantity_" + counter + "\" class=\"control-label\">Quantity</label>" +
                 "<div>" +
                 "<input type=\"number\" step=\"any\" name=\"assay_compound[" + counter + "]['quantity']\" id=\"quantity_" + counter + "\" />" +
                 "</div>" +
                 "</div>" +
                 "<div class=\"form-group\">" +
                 "<label for=\"weight_" + counter + "\" class=\"control-label\">Weight (mg)</label>" +
                 "<div>" +
                 "<input type=\"number\" step=\"any\" name=\"assay_compound[" + counter + "]['client_weight']\" id=\"weight_" + counter + "\" />" +
                 "</div>" +
                 "</div>" +
                 "</div>");

             counter++;
         } else {
             $("#five-compounds").removeClass("hidden");
         }
     });
</script>
}

