@model IEnumerable<WebApplication1.Models.Invoice>

@{
    ViewBag.Title = "Index";
}

<h2>My Invoices</h2>


<table class="table">
    <tr>
        <th>
            Invoice Number
        </th>
        <th>
            Work Order Number
        </th>
        <th>
            Payment Due Date
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th>
            Early Payment Date
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    if (item.WorkOrder.CustomerID==ViewBag.ID)
    {
    <tr>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.InvoiceID)
        </td>
        <td style="text-align:center">
            @Html.DisplayFor(modelItem => item.OrderID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateDue)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.Amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EarlyDate)
        </td>
        <td>
            <a href="@Url.Action("Pay","Seattle")">Pay Now</a>
        </td>
    </tr>
    }
    
}

</table>
