
@{
    ViewBag.Title = "Index";
}
<head>

</head>

<div class="row">
    <div class="cont">
        <a href="@Url.Action("Approve","Singapore")">
            <img src="~/Pictures/Approved.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Approve Work Orders</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="@Url.Action("Schedule","Singapore")">
            <img src="~/Pictures/Schedule.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Schedule Weekly Tests</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="@Url.Action("Test","Singapore")">
            <img src="~/Pictures/Test.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Conduct Tests</div>
            </div>
        </a>
    </div>
</div>

<div class="row">
    <div class="cont">
        <a href="@Url.Action("Index","Assays")">
            <img src="~/Pictures/Modify.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Modify Assays</div>
            </div>
        </a>
    </div>

    <div class="cont">
        <a href="@Url.Action("MaterialsInventory","Singapore")">
            <img src="~/Pictures/Materials.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">Check Materials Inventory</div>
            </div>
        </a>
    </div>
    <div class="cont">
        <a href="#">
            <img src="~/Pictures/Archived.png" alt="Avatar" class="image img-thumbnail">
            <div class="middle">
                <div class="text">View Archived Reports</div>
            </div>
        </a>
    </div>
</div>


