@model IEnumerable<WebApplication1.Models.Compound_Assay>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@ViewBag.begin
@ViewBag.end

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Assay.AssayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LTNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SequenceNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WorkOrder.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TestAll)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateArrived)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDue)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status.StatusDescription)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.WorkOrder.Approved==0 && (item.DateDue>=ViewBag.begin&&item.DateDue<=ViewBag.end))
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Assay.AssayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LTNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SequenceNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WorkOrder.Comments)
        </td>
            @if (item.TestAll == 0)
            {
                <td>Test all</td>
            }
            else if (item.TestAll == 1)
            {
                <td>Do not test all</td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.Quantity) mg
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateArrived)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDue)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status.StatusDescription)
            </td>
        </tr>
        }
        
    }

</table>
