@model WebApplication1.Models.Contact

@{
    ViewBag.Title = "Contact";
}
<h3>Address</h3>
<address>
    NorthWest Labs drive
    Seattle, Washington
</address>
<h3>Phone Number:</h3>
<p>1-800-123-4567</p>
<div class="container">
    <div class="jumbotron">
        <h5>If you have a question and would like to reach out to our Customer Representatives, please fill out the form below:</h5>
        <br />
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <p>First Name: @Html.TextBoxFor(x => x.firstName)</p>
            <p>Last Name: @Html.TextBoxFor(x => x.LastName)</p>
            <p>Phone Number: @Html.TextBoxFor(x => x.PhoneNumber)</p>
            <p>Email: @Html.TextBoxFor(x => x.Email)</p>
            <p>Question: @Html.TextBoxFor(x => x.Question)</p>

            <input type="submit" value="Send Question" />
        }
    </div>

</div>
